.d-flex {
  display: flex;
}

.middle-center {
  justify-content: center;
  align-items: center;
}

.middle-top {
  justify-content: center;
  align-items: flex-start;
}

.middle-bottom {
  justify-content: center;
  align-items: flex-end;
}

.left-center {
  justify-content: flex-start;
  align-items: center;
}

.left-top {
  justify-content: flex-start;
  align-items: flex-start;
}

.left-bottom {
  justify-content: flex-start;
  align-items: flex-end;
}

.right-center {
  justify-content: flex-end;
  align-items: center;
}

.right-top {
  justify-content: flex-end;
  align-items: flex-start;
}

.right-bottom {
  justify-content: flex-end;
  align-items: flex-end;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around
}

.flex-row {
  flex-direction: row;
}

.flex-row-re {
  flex-direction: row-reverse
}

.flex-column {
  flex-direction: column;
}

.flex-column-re {
  flex-direction: column-reverse;
}

/* —----------css-------------- */

* {margin: 0; padding: 0;}

#base {
  width: 100vw;
  height: 100vh;

  background-color: #fff;
}

.root {
  width: 390px;
  height: 844px;

  background-color: #c3c3c3;
}

header {
  width: inherit;
  height: 9%;

  background-color: aqua;
}

header > div {
  width: 92%;
  height: 68%;

  border: 1px solid sandybrown;
}

header > div > div {
  width: 14%;
  height: 100%;

  background-color: rgb(255, 83, 83);
}


.search-bar {
  width: inherit;
  height: 15%;

  background-color: aquamarine;
}

.search-bar > div {
  width: 90%;
  height: 44%;

  background-color: #f0f0f0;

  border-radius: 10px;
}

.search-bar > div > div:nth-child(1) {
  width: 84%;
  height: 90%;

  border: 1px solid #6b68ff;
}

.search-bar > div > div:nth-child(2) {
  width: 14%;
  height: 90%;
  border: 1px solid #ff85db;
}

main {
  width: inherit;
  height: 78%;

  background-color: #f0f0f0;
}

.top {
  width: inherit;
  height: 20%;

  border: 1px solid salmon;

  position: relative;
  overflow: hidden;
}

.top > ul {
  width: 400%;
  height: 60%;

  background-color: #ff85db;

  position: absolute;
  left: 26px;
}

.top > ul > li {
  list-style: none;

  width: 64px;
  height: 64px;

  background-color: rgb(188, 152, 255);
  border-radius: 100px;

  margin-right: 18px;
}

.bottom {
  width: inherit;
  height: 80%;

  border: 1px solid red;
  overflow: hidden;
}

.bottom > ul {
  width: 100%;
  height: 400%;

  background-color: #98ff68;
}

.bottom > ul > li {
  width: 390px;
  height: 160px;

  background-color: #85e3ff;
  border: 1px solid #6b68ff;

  list-style: none;
}

.out-line {
  width: 94%;
  height: 80%;

  border: 1px solid #98ff68;
}

.out-line > div:nth-child(1) {
  width: 38%;
  height: 100%;

  /* background-color: #ff85db; */
  border: 1px solid #292F2E;
}

.out-line > div:nth-child(2) {
  width: 58%;
  height: 100%;

  border: 1px solid #0f792e;
}

.text-1 {
  width: 100%;
  height: 30%;

  background-color: #ff85db;
}

.text-2 {
  width: 100%;
  height: 20%;

  background-color: #aa85ff;
}


.text-3 {
  width: 100%;
  height: 50%;

  background-color: #85ffa0;
}


