/* -----------variable---------- */

:root {
--color-1:#F3F3F3;
--color-2:#D8D8D8;
--color-3:#0B9E9E;
--color-4:#B5DDDD;
--color-5:#9C9C9C;

--color-yes:#00E075;
--color-not:#646464; 

--color-star:#2036F8;  

--color-text-1:#373737;
--color-text-2:#7A7A7A;
--color-text-3:#F3F3F3;
--color-text-4:#0B9E9E;
}

/* —----------css-------------- */

.d-flex {
  display: flex;
}

.middle-center {
  justify-content: center;
  align-items: center;
}

.middle-top {
  justify-content: center;
  align-items: flex-start;
}

.middle-bottom {
  justify-content: center;
  align-items: flex-end;
}

.left-center {
  justify-content: flex-start;
  align-items: center;
}

.left-top {
  justify-content: flex-start;
  align-items: flex-start;
}

.left-bottom {
  justify-content: flex-start;
  align-items: flex-end;
}

.right-center {
  justify-content: flex-end;
  align-items: center;
}

.right-top {
  justify-content: flex-end;
  align-items: flex-start;
}

.right-bottom {
  justify-content: flex-end;
  align-items: flex-end;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around
}

.flex-row {
  flex-direction: row;
}

.flex-row-re {
  flex-direction: row-reverse
}

.flex-column {
  flex-direction: column;
}

.flex-column-re {
  flex-direction: column-reverse;
}

/* ----------------------------- */

* {margin: 0; padding: 0;}

