* {margin: 0; padding: 0;}

#base {
  width: 100vw;
  height: 100vh;
  background-color: #c5c5c5;
}

.root {
  width: 390px;
  height: 844px;
  background-color: aquamarine;

  position: relative;
  z-index: 1;

  overflow: hidden;
}

.top-magin {
  width: 100%;
  height: 2.135em;

  background-color:var(--color-text-1);
  opacity: 0.5;

  position: absolute;
  top: 0px;
  z-index: 2;
}

.menu {
  width: 100%;
  height: 11%;

  background-color: var(--color-3);
  /* border: 1px solid red; */
}

.menu > div {
  width: 90%;
  height: 60%;

  /* border: 1px solid #5e437c; */
}

.menu > div > div:nth-child(1) {
  width: 15%;
  height: 100%;

  /* border: 1px solid sandybrown; */
}

.menu > div > div:nth-child(2) {
  width: 65%;
  height: 100%;

  /* border: 1px solid sandybrown; */
}

.menu > div > div:nth-child(2) > p {
  font-size: var(--font-L);
  color: var(--color-text-3);
}


.menu > div > div:nth-child(3) {
  width: 15%;
  height: 100%;

  /* border: 1px solid #a560f4; */
}

hr {
  width: 100%;

  color: var(--color-5);
}

i {
  font-size: var(--font-L);
  color: var(--color-text-3);
  font-family: 'Font Awesome 5 Free','Font Awesome 5 Brands';
}

.fa,.fab,.fad,.fal,.far,.fas{
	/* font-weight: 900 !important; */
	}