.d-flex {
  display: flex;
}

.middle-center {
  justify-content: center;
  align-items: center;
}

.middle-top {
  justify-content: center;
  align-items: flex-start;
}

.middle-bottom {
  justify-content: center;
  align-items: flex-end;
}

.left-center {
  justify-content: flex-start;
  align-items: center;
}

.left-top {
  justify-content: flex-start;
  align-items: flex-start;
}

.left-bottom {
  justify-content: flex-start;
  align-items: flex-end;
}

.right-center {
  justify-content: flex-end;
  align-items: center;
}

.right-top {
  justify-content: flex-end;
  align-items: flex-start;
}

.right-bottom {
  justify-content: flex-end;
  align-items: flex-end;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around
}

.flex-row {
  flex-direction: row;
}

.flex-row-re {
  flex-direction: row-reverse
}

.flex-column {
  flex-direction: column;
}

.flex-column-re {
  flex-direction: column-reverse;
}