:root {
  --color-1:#F3F3F3;
  --color-2:#D8D8D8;
  --color-3:#0B9E9E;
  --color-4:#B5DDDD;
  --color-5:#9C9C9C;
  
  --color-yes:#00E075;
  --color-not:#646464; 
  
  --color-star:#2036F8;  
  
  --color-text-1:#292F2E;
  --color-text-2:#7A7A7A;
  --color-text-3:#F3F3F3;
  --color-text-4:#0B9E9E;

  --font-L:1.5em;
  --font-M:1.25em;
  --font-S:0.875em;
  --font-XS:0.75em;
  }