.back-ground {
  width: 100%;
  height: 100%;

  background-color: var(--color-1);

  position: relative;

  z-index: -1;
}

.black-screen {
  width: 100%;
  height: 100%;
  background-color: var(--color-text-1);

  opacity: 0.7;

  position: absolute;
}

.black-screen > div {
  width: 80%;
  height: 40%;

  /* border: 1px solid salmon; */

  z-index: 3;
}

.white-screen {
  width: 100%;
  height: 70%;

  background-color: var(--color-1);
}


.white-screen > div {
  width: 100%;
}

.white-screen > div:nth-child(1) {
  height: 20%;
  background-color: var(--color-3);
}

.white-screen > div:nth-child(2) {
  height: 70%;
}

.white-screen > div:nth-child(2) > div {
  width: 60%;
  height: 50%;

  /* border: 1px solid saddlebrown; */
}

.white-screen > div:nth-child(2) > div > p {
  color: var(--color-text-1);
  font-size: 1.125em;
}


.white-screen > div:nth-child(3) {
  height: 10%;
  background-color: var(--color-2);
}



